.master-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 25px;
  margin-bottom: 0;
}

.author {
  font-size: 20px;
}

.combinations-container {
  background-color: rgba(255, 255, 255, 0.1);
  flex: 1;
  margin-right: 20px;
  text-align: center;
  height: 600px;
}

.fuse-timer-container {
  background-color: rgba(255, 255, 255, 0.1);
  flex: 1;
  text-align: center;
}

.section-container-combinations-paragraph {
  font-size: 30px;
  margin-top: 10px;
}

.section-container-combinations {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  height: 400px;
  flex: 1;
  max-width: 300px;
}

.section-container-loot-timer {
  background-color: rgba(255, 255, 255, 0.1);
  flex: 1;
  text-align: center;
  height: 400px;
  max-width: 300px;
}

.section-container-fuse-calculator {
  background-color: rgba(255, 255, 255, 0.1);
  flex: 1;
  text-align: center;
  height: 400px;
  max-width: 300px;
}

.enter-digits-here {
  text-align: left;
}

.input-output-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}


.keypad-inputs {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin-left: 20px;
}


.combination-outputs {
  height: 260px;
  width: 120px;
  margin-left: 20px;
  background-color: rgb(66, 66, 66);
}

.generate-button-container {
  display: flex;
  justify-content: left;
  align-items: start;
  margin-top: 10px;
}

.generate-button {
  display: inline-block;
  background-color: lightgreen;
  border-radius: 5px;
  margin: 0;
  font-size: 15px;
  cursor: pointer;
}

.generate-button:active {
  background-color: rgb(156, 222, 156);
}



.loot-timer,
.calculator-results {
  background-color: green;
  color: white;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 60px;
  height: 20px;
  text-align: center;
  font-family: 'Black Ops One', Arial;
}

.loot-timer-container,
.calculator-results-container {
  display: flex;
  justify-content: center;
}

.start-pause-reset-container {
  margin-bottom: 20px;
}

.loot-timer-start-button,
.loot-timer-pause-button,
.plus-five-minutes-button,
.plus-ten-minutes-button,
.fuse-calculate,
.fuse-timer-start {
  background-color: lightgreen;
  cursor: pointer;
  border-radius: 5px;
}

.loot-timer-start-button:active,
.loot-timer-pause-button:active,
.plus-five-minutes-button:active,
.plus-ten-minutes-button:active {
  background-color: rgb(156, 222, 156);
}

.loot-timer-reset-button,
.minus-ten-minutes-button,
.minus-five-minutes-button,
.fuse-timer-reset {
  background-color: rgba(225, 52, 52, 0.8);
  cursor: pointer;
  border-radius: 5px;
}

/* future active RGBA here RED - rgba(222, 104, 104, 0.8)..GREEN - rgba(194, 233, 194, 0.8) */

.loot-timer-reset-button:active,
.minus-ten-minutes-button:active,
.minus-five-minutes-button:active {
  background-color: rgba(222, 104, 104, 0.8);
}

.amperage-selector-container {
  display: flex;
  justify-content: left;
  margin-left: 20px;
  margin-bottom: 10px;
}

.amp-selections {
  width: 70px;
}

.fuse-durability-container {
  display: flex;
  justify-content: left;
  margin-left: 20px;
}

.fuse-durability {
  width: 80px;
}

.calculate-button-container {
  display: flex;
  justify-content: left;
  margin-top: 10px;
  margin-left: 20px;
}